html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Red Hat Display', sans-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.bg_image{
    background-image:url("images/pattern-background-desktop.svg") ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
body{
    width: 100%;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 100%;
    max-width: 340px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

div img{
max-width: 340px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.order_summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: 900;
    font-size: 1.3rem;
    color: hsl(223, 47%, 23%);
    margin: 0.8em 0;
}
.order_summary p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: hsl(224, 23%, 55%);
    line-height: 1.5rem;
    
}

.bg-color-music{
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center; 
    margin: 5% 5%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
div .music_icon img {
    width: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.annual_plan{
    line-height: 1.3em;
    margin-right: 1.9em;
}

.annual_p{
    font-size: 15px;
    font-weight:900;
    color: hsl(223, 47%, 23%);
}

.price_p{
    font-size: 15px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    position: relative;
}

.change{
    padding-right: 1em;
    font-size: 14px;
    font-weight: 900;
    color: hsl(245, 75%, 52%);
}
.change_p{
    position: relative;
    height: auto;
    padding-left: 1.4em;
    text-decoration: underline hsl(245, 75%, 52%);
    transition: opacity 0.3s ease-in-out;
    width: 80px;
    cursor: pointer;
}
.change_color{
    position: absolute;
    background-color: hsla(228, 100%, 98%, 25%);
    width: 80px;
    height: 15px;
    border: 0;
    border-radius: 8px;
    z-index: 999;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}
.change_color:hover{
    cursor: pointer;
    opacity: 1;

}
.div_proceed{
    position: relative;
}
.btn_proceed{
    background-color: hsl(245, 75%, 52%);
    width: 300px;
    height: 3em;
    border: 0;
    cursor: pointer;
    margin: 5px auto 0;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: hsl(225, 100%, 98%);
    margin: 1;
    box-shadow:0 17px 20px -15px hsl(245, 75%, 52%);
}
.btn_procolor{
    position: absolute;
    background-color: hsla(228, 100%, 98%, 25%);
    width: 300px;
    height: 3rem;
    border: 0;
    border-radius: 8px;
    z-index: 999;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.btn_procolor:hover{
    opacity: 1;
    cursor: pointer;
}

.btn_cancel{
    width: 300px;
    font-weight: 700;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    color: hsl(224, 23%, 55%);
    border-radius: 8px;
    height: 3em;
    border: 0;
    cursor: pointer;
    margin: 10px auto 1em auto;
    transition: opacity 0.3s ease-in-out;
}
.btn_cancel:hover{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

.attribution{
    margin-top: 2em;
}

@media (max-width: 375px) {
    .bg_image{
        display: none;
    }

    .bg_image2{
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        height: 400px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;   
    }
}
